<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525720506365-f9rvo1cjmakqfod3lvs0tbtjh9lce2ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525720506365-f9rvo1cjmakqfod3lvs0tbtjh9lce2ho</string>
	<key>API_KEY</key>
	<string>AIzaSyAvzhr1xm53z1okzo5CKzZgEXPy4ZwTscs</string>
	<key>GCM_SENDER_ID</key>
	<string>525720506365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.characterist.hrmetrics</string>
	<key>PROJECT_ID</key>
	<string>hr-metrics-85b07</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-metrics-85b07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525720506365:ios:dd3d45e37ad67662</string>
	<key>DATABASE_URL</key>
	<string>https://hr-metrics-85b07.firebaseio.com</string>
</dict>
</plist>